---
layout: layout.liquid
title: 11ty Boilerplate
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>11ty Boilerplate</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Home">Home</a></li>
      <li><a href="/IPhone/" title="IPhone">IPhone</a></li>
      <li><a href="/Wallet/" title="Wallet">Wallet</a></li>
      <li><a href="/Sweatshirt/" title="Wallet">Sweatshirt</a></li>
    </ul>
  </nav>
    
<h1><strong>Everyday Things</strong></h1>
<h2>Three Things I Can't Leave Home Without</h2>
<ul>
  <li><p><strong>IPhone</strong></p></li>
  <li><p><strong>Wallet</strong></p></li>
  <li><p><strong>Sweatshirt</strong></p></li>
</ul>
</body>
</html>