body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #744f4f;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 500px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(119, 205, 100);
    background: linear-gradient(45deg, rgb(195, 171, 34) 0%, rgb(57, 153, 127) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}